In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
config('spark.ui.port','0'). \
config('spark.sql.warehouse.dir',f'/user/{username}/warehouse'). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [2]:
spark.sql("create database itv013010_assignment")

++
||
++
++

In [3]:
spark.sql("create table itv013010_assignment.assignment1(cust_id long, purchase_date date, product_id long, amount double) using csv location '/public/trendytech/datasets/cust_transf.csv'")

++
||
++
++

In [2]:
spark.sql("select * from itv013010_assignment.assignment1").show()

+-------+-------------+----------+------+
|cust_id|purchase_date|product_id|amount|
+-------+-------------+----------+------+
|   1001|   2023-05-15|      1001| 49.99|
|   1002|   2023-05-16|      1002| 29.99|
|   1003|   2023-05-17|      1003| 39.99|
|   1004|   2023-05-18|      1004| 19.99|
|   1005|   2023-05-19|      1005| 24.99|
|   1001|   2023-05-20|      1002| 29.99|
|   1002|   2023-05-21|      1003| 39.99|
|   1003|   2023-05-22|      1004| 19.99|
|   1004|   2023-05-23|      1005| 24.99|
|   1005|   2023-05-24|      1001| 49.99|
|   1001|   2023-05-25|      1003| 39.99|
|   1002|   2023-05-26|      1004| 19.99|
|   1003|   2023-05-27|      1005| 24.99|
|   1004|   2023-05-28|      1001| 49.99|
|   1005|   2023-05-29|      1002| 29.99|
|   1001|   2023-05-30|      1003| 39.99|
|   1002|   2023-05-31|      1004| 19.99|
|   1003|   2023-06-01|      1005| 24.99|
|   1004|   2023-06-02|      1001| 49.99|
|   1005|   2023-06-03|      1002| 29.99|
+-------+-------------+----------+------+
only showing top 20 rows

### Find top 10 Products sold

In [4]:
spark.sql("select product_id, SUM(amount) as total_revenue from itv013010_assignment.assignment1 where purchase_date>='2023-05-01' AND purchase_date <= '2023-06-08'group by product_id Order by total_revenue DESC limit 10").show()

+----------+--------------------+
|product_id|       total_revenue|
+----------+--------------------+
|      1003| 5.725592243903785E8|
|      1001|  5.56682641192824E8|
|      1002| 4.293836243948648E8|
|      1004|  2.86208024402762E8|
|      1005|2.7828564120213836E8|
|      1015|  12537.909999999963|
|      1014|  11492.909999999963|
|      1013|  10447.909999999963|
|      1012|   9402.909999999965|
|      1011|   8357.909999999967|
+----------+--------------------+

### Find top 10 customers

In [5]:
spark.sql("select cust_id, SUM(amount) as cust_revenue from itv013010_assignment.assignment1 where purchase_date>='2023-05-01' AND purchase_date <= '2023-06-08' group by cust_id ORDER BY cust_revenue desc limit 10").show()

+-------+--------------------+
|cust_id|        cust_revenue|
+-------+--------------------+
|   1001| 3.180884580005336E8|
|   1004| 3.101342580008687E8|
|   1005|2.6240905800151232E8|
|   1003|2.1468385800145328E8|
|   1002| 2.067296580014408E8|
|   1011|1.2724374111049211E8|
|   1006|1.2723851611049213E8|
|   1012|1.1133638611046083E8|
|   1007|1.1133116111046083E8|
|   1013| 9.542903111041905E7|
+-------+--------------------+

# Same above queries but after cache

In [6]:
spark.sql("cache table itv013010_assignment.assignment1")

++
||
++
++

In [8]:
spark.sql("select product_id, SUM(amount) as total_revenue from itv013010_assignment.assignment1 where purchase_date>='2023-05-01' AND purchase_date <= '2023-06-08'group by product_id Order by total_revenue DESC limit 10").show()

+----------+--------------------+
|product_id|       total_revenue|
+----------+--------------------+
|      1003| 5.725592243903785E8|
|      1001| 5.566826411928239E8|
|      1002|4.2938362439486486E8|
|      1004|2.8620802440276194E8|
|      1005| 2.782856412021384E8|
|      1015|  12537.909999999963|
|      1014|  11492.909999999963|
|      1013|  10447.909999999963|
|      1012|   9402.909999999965|
|      1011|   8357.909999999967|
+----------+--------------------+

In [10]:
spark.sql("select cust_id, SUM(amount) as cust_revenue from itv013010_assignment.assignment1 where purchase_date>='2023-05-01' AND purchase_date <= '2023-06-08' group by cust_id ORDER BY cust_revenue desc limit 10").show()

+-------+--------------------+
|cust_id|        cust_revenue|
+-------+--------------------+
|   1001| 3.180884580005336E8|
|   1004| 3.101342580008686E8|
|   1005| 2.624090580015123E8|
|   1003|2.1468385800145328E8|
|   1002|2.0672965800144076E8|
|   1011|1.2724374111049211E8|
|   1006|1.2723851611049213E8|
|   1012| 1.113363861104608E8|
|   1007|1.1133116111046083E8|
|   1013| 9.542903111041903E7|
+-------+--------------------+